<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ay Psikoloji</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">Ay Psikoloji</a>
  </div>
  <div class="navbar-end">
    <a class="btn btn-outline btn-info" href="/appointment">
      Randevu Al
    </a>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow right-0">
        <li><a>Hakkımda</a></li>
      </ul>
    </div>
  </div>
</div>
    {% block content %}{% endblock %}
</body>
</html>